@model IEnumerable<Lab5_6.Models.HocSinh>


@{
    ViewData["Title"] = "Index" ;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New ||</a>
    <a asp-action="timkiem">Tìm ||</a>
    <a asp-action="Delete_name">Xóa Theo tên ||</a>
    <a asp-action="Delete_city">Xóa Theo Thành phố ||</a>
</p>
<form action="/HocSinhs/timkiem" >
    <input name="name" class="form-control w-50" placeholder="Tìm Kiếm Sinh Viên" >
    <button  type="submit" class="btn btn-outline-primary" id="Ten">Tìm kiếm</button>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @Html.Raw(item.Gioitinh.Value ? "Nam" : "Nữ")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Msv">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Msv">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Msv">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
